// @import '../../node_modules/bootstrap/scss/bootstrap';
// @import './custom.scss';

body {
  margin: 0;
  > * {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.container {
  background-image: url("/public/images/bg.jpg");
  .section1,
  .section2 {
    height: 440px;
    display: flex;
    font-family: "Titillium Web", sans-serif;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.35);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 230px;
  box-sizing: border-box;
  font-family: "Rambla", sans-serif;
  .logo,
  .menu {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      text-transform: capitalize;
      padding: 15px;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        text-shadow: 2px 0 2px #fafafa;
      }
    }
  }
}

.logo {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    & > a {
      text-shadow: 2px 0 2px #fafafa;
    }
  }
  a {
    color: #ffffff;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.19em;
  }
}

.content {
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.35);
  justify-content: space-between;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  & > * {
    margin: 0;
  }
  h1 {
    color: #ffffff;
    font-size: 66px;
    text-transform: uppercase;
  }
  h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 120px;
  }
  a {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    width: 240px;
    height: 65px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    margin: 70px 0 125px 0;
    &:hover {
      box-shadow: 0 0 10px #ffffff;
      text-shadow: 0 0 1px #ffffff;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.section1 {
  background-color: lightseagreen;
  justify-content: center;
  align-items: center;
  //Alexey
}

.section2 {
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  div {
    width: 510px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > * {
      margin: 0;
    }
    h2 {
      color: #222222;
      font-size: 60px;
      font-weight: 300;
      margin-bottom: 35px;
    }
    p {
      color: #777777;
      font-size: 18px;
      font-weight: 400;
      &:nth-child(2) {
        margin-bottom: 35px;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  & > * {
    display: flex;
  }
  .tabs {
    height: 590px;
    background-color: gold;
    justify-content: center;
    align-items: center;
    //Pavel
  }
  .clients {
    height: 810px;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    //Alexey
  }
  .logos {
    height: 160px;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 20px;
    }
  }
  .team {
    height: 800px;
    background-color: #111111;
    flex-direction: column;
    align-items: center;
    & > * {
      color: #ffffff;
      margin: 0;
    }
    h2 {
      font-size: 60px;
      font-weight: 300;
      text-transform: capitalize;
      margin-top: 80px;
    }
    span {
      color: #777777;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 70px;
    }
    .ourTeam {
      height: 350px;
      width: 795px;
      // background-color: gold;
      display: flex;
      justify-content: space-between;
      .teamTabs {
        width: 235px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        &:last-child {
          .social {
            width: 90px;
          }
        }
        & > * {
          margin: 0;
        }
        .cont {
          border-radius: 50%;
          border-style: solid;
          border-width: 7px;
          border-color: #ffffff;
          background-color: #111111;
          width: 220px;
          height: 220px;
        }
        h4 {
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          text-transform: capitalize;
          margin-top: 25px;
        }
        span {
          color: #ebebeb;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
        .social {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 140px;
          margin-top: 10px;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border-style: solid;
            border-width: 3px;
            border-color: #ffffff;
            box-sizing: border-box;
            background-color: #111111;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
          .tw {
            &:hover {
              background-color: #00aced;
              border-color: #00aced;
            }
          }
          .fb {
            &:hover {
              background-color: #3b5998;
              border-color: #3b5998;
            }
          }
          .pt {
            &:hover {
              background-color: #cb2028;
              border-color: #cb2028;
            }
          }
          .gp {
            &:hover {
              background-color: #d95232;
              border-color: #d95232;
            }
          }
        }
      }
    }
    p {
      color: #ebebeb;
      font-size: 20px;
      font-weight: 400;
      width: 590px;
      text-align: center;
      margin-top: 50px;
    }
  }
}

.footer {
  background-color: #7690c5;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contactUs {
    border-bottom: 1px solid #87a0d2;
    width: 940px;
    height: 460px;
    margin-top: 100px;
    display: flex;
    padding-bottom: 100px;
    box-sizing: border-box;

    & * {
      margin: 0;
    }

    div {
      width: 50%;
      height: 100%;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        color: #ffffff;
        font-size: 60px;
        font-weight: 300;
        text-transform: capitalize;
      }
      p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        width: 420px;
        margin-bottom: 50px;
      }
      .contactColumn {
        width: 100%;
        .col1,
        .col2 {
          flex-direction: column;
          & > div {
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 10px;
            box-sizing: border-box;
            // &:first-child {
            //   img {
            //     margin: 0 5px;
            //   }
            // }
            span,
            a {
              color: #ffffff;
              font-size: 18px;
              font-weight: 400;
              padding-left: 15px;
              text-decoration: none;
            }
          }
        }
        .col1 {
          & > :first-child {
            img {
              margin: 0 5px;
            }
          }
        }
        .col2 {
          & > :nth-child(2) {
            img {
              margin: 0 5.5px;
            }
          }
        }
        .col2 {
          & > :nth-child(3) {
            img {
              margin: 0 1.5px;
            }
          }
        }
      }
    }

    .form {
      form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        input,
        textarea {
          border: 1px solid #cccccc;
          background-color: #ffffff;
          width: 455px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        [type="text"],
        [type="email"] {
          border-radius: 2px;
          height: 51px;
        }
        textarea {
          height: 210px;
          resize: none;
        }
        ::-webkit-input-placeholder {
          color: #bbbbbb;
          font-size: 18px;
          font-weight: 500;
          font-family: "Titillium Web", sans-serif;
        }
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    height: 80px;
    & > span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
