// @import '../../node_modules/bootstrap/scss/bootstrap';
// @import './custom.scss';

body {
  margin: 0;
  > * {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.container {
  background-image: url("/public/images/bg.jpg");
  .section1,
  .section2 {
    height: 440px;
    display: flex;
    font-family: "Titillium Web", sans-serif;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.35);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 230px;
  box-sizing: border-box;
  font-family: "Rambla", sans-serif;
  .logo,
  .menu {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      text-transform: capitalize;
      padding: 15px;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        text-shadow: 2px 0 2px #fafafa;
      }
    }
  }
}

.logo {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    & > a {
      text-shadow: 2px 0 2px #fafafa;
    }
  }
  a {
    color: #ffffff;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.19em;
  }
}

.content {
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.35);
  justify-content: space-between;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  & > * {
    margin: 0;
  }
  h1 {
    color: #ffffff;
    font-size: 66px;
    text-transform: uppercase;
  }
  h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 120px;
  }
  a {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    width: 240px;
    height: 65px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    margin: 70px 0 125px 0;
    &:hover {
      box-shadow: 0 0 10px #ffffff;
      text-shadow: 0 0 1px #ffffff;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.section1 {
  background-color: lightseagreen;
  justify-content: center;
  align-items: center;
  //Alexey
}

.section2 {
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  div {
    width: 510px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > * {
      margin: 0;
    }
    h2 {
      color: #222222;
      font-size: 60px;
      font-weight: 300;
      margin-bottom: 35px;
    }
    p {
      color: #777777;
      font-size: 18px;
      font-weight: 400;
      &:nth-child(2) {
        margin-bottom: 35px;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  & > * {
    display: flex;
  }
  .tabs {
    height: 590px;
    background-color: gold;
    justify-content: center;
    align-items: center;
    //Pavel
  }
  .clients {
    height: 810px;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    //Alexey
  }
  .logos {
    height: 160px;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 20px;
    }
  }
  .team {
    height: 800px;
    background-color: red;
  }
}

.footer {
  height: 640px;
  background-color: #7690c5;
  font-family: "Titillium Web", sans-serif;
}
